<!-- <h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a> Customer List</h3> -->
<table>
    <tr>
        <td>
        <h3>Loan Provider Records</h3>
        </td>
        <td style="margin: 10px; padding-left:600px;"></td>
        <td>
        <a class="btn btn-primary" href="/owner/home/addloan">Add Loan</a>
        <a class="btn btn-primary" href="/owner/home">Home</a>
        </td>
    </tr>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Bank Name</th>
            <th>Rate Of Interest(%)</th>
            <th>Installments</th>
            <th>Processing Fee</th>
            <th>Tenure</th>
            <th>Maximum Amount</th>
            <th>Email ID</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.bankname}}</td>
            <td>{{this.rate}}</td>
            <td>{{this.installments}}</td>
            <td>{{this.fee}}</td>
            <td>{{this.tenure}}</td>
            <td>{{this.maxamt}}</td>
            <td>{{this.emailid}}</td>

            <td>
                <a class="btn btn-outline-primary btn-sm" href="/owner/home/loanupdate/{{this._id}}">Edit  </a>
                <a class="btn btn-outline-danger btn-sm" href="/owner/home/loandelete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
