<!-- <h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a> Customer List</h3> -->
<table>
    <tr>
        <td>
        <h3>Testimonial Records</h3>
        </td>
        <td style="margin: 10px; padding-left:600px;"></td>
        <td>
        <a class="btn btn-primary" href="/owner/home/addtestimonial">Add Testimonial</a>
        <a class="btn btn-primary" href="/owner/home">Home</a>
        </td>
    </tr>
</table>


<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Occupation</th>
            <th>Property Name</th>
            <th>Customer Description</th>
            <th>Customer Satisfaction (/10)</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.customername}}</td>
            <td>{{this.occupation}}</td>
            <td>{{this.propertyname}}</td>
            <td>{{this.customerdesc}}</td>
            <td>{{this.customersat}}</td>

            <td>
                <!-- <a class="btn btn-outline-primary btn-sm" href="/owner/home/testimonialupdate/{{this._id}}">Edit  </a>
                <a class="btn btn-outline-danger btn-sm" href="/owner/home/testimonialdelete/{{this._id}}" onclick="return confirm('Are you sure to delete this record ?');">Delete</a> -->
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
